extends ./layout

block append head
	link(rel="stylesheet", href="/css/aiwf.css")

block main
	#content
		.mdl-grid
			.mdl-cell.mdl-cell--12-col
				h2.mdl-color-text--primary= list.name
				
			.mdl-cell.mdl-cell--12-col
				if numGifts === 0
					h6 There are no gifts in this list
				else
					table.mdl-data-table.mdl-js-data-table.mdl-shadow--4dp
						each person, name in gifts
							tbody
								tr
									td(colspan="2").mdl-data-table__cell--non-numeric.mdl-color--primary.mdl-color-text--white
										span= name
								each gift in person
									tr
										td.mdl-data-table__cell--non-numeric
											span= gift.name
											br
											span
												a.mdl-color-text--primary(href="#{gift.url}", target="_new")= gift.url
										td
											if gift.boughtBy === user.email
												a.mdl-button.mdl-js-button.mdl-button--accent Bought
												a.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--gray(href="/alliwantfor/gifts/replace/#{gift.id}")
													i.material-icons.md-light remove
											else if typeof(gift.boughtBy) == 'undefined'
												a.mdl-button.mdl-js-button.mdl-button--primary Available
												a.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--primary.mdl-color-text--white(href="/alliwantfor/gifts/buy/#{gift.id}")
													i.material-icons.md-light add
											else 
												span.mdl-button.mdl-js-button.mdl-button--gray Unavailable