extends ./layout

block append head
	link(rel="stylesheet", href="/css/aiwf.css")

block main
	#content
		.mdl-grid
			.mdl-cell.mdl-cell--12-col
				h2= list.name
				
			.mdl-cell.mdl-cell--12-col
				if numGifts === 0
					h6 There are no gifts in this list
				else
					each person, name in gifts
						h6= name
						table.mdl-data-table.mdl-js-data-table.mdl-shadow--4dp
							thead
								tr
									th.mdl-data-table__cell--non-numeric Name
									th Actions
							tbody
								each gift in person
									tr
										td.mdl-data-table__cell--non-numeric
											span= gift.name
											br
											span
												a(href="#{gift.url}", target="_new")= gift.url
										td
											if gift.boughtBy === user.email
												a.mdl-button.mdl-js-button.mdl-button--accent Bought
												a.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent.mdl-color-text--white(href="/alliwantfor/gifts/replace/#{gift.id}") Replace
											else if typeof(gift.boughtBy) == 'undefined'
												a.mdl-button.mdl-js-button.mdl-button--primary Available
												a.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent.mdl-color-text--white(href="/alliwantfor/gifts/buy/#{gift.id}") Buy
