#nav
	input(type="checkbox", id="show-menu", role="button")
	h1 www.digby.net	
	ul.menu
		li.toggle 
			label(for="show-menu") menu
		li
			a(href="/") home
		li 
			a(href="/page/projects") projects
		li 
			a(href="/blog") blog
		li
			a(href="/page/social") social
		if !user
			li.button
				script(src="https://cdn.auth0.com/js/lock-8.2.min.js")
				script.
					var lock = new Auth0Lock('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_DOMAIN}');
					function signin() {
						lock.show({
							callbackURL: '#{env.AUTH0_CALLBACK_URL}',
							enableReturnUserExperience: true,
							responseType: 'code',
							authParams: {
								scope: 'openid name email picture'
							}
						});
					}
				a(href="#", onclick="window.signin();") login
		else
			li
				a(href="/auth/logout", title=user.displayName) logout
			li
				a(href="/profile")
					img(src="#{user.picture}", title="#{user.displayName}")
